/* 
 * Fonts  
 */

body { 
  font-family: 'Open Sans', sans-serif;
}


/* 
 * Layout
 */

html, body {
  margin: 0;
  padding: 0;
}

main {
  width: 80vw;
  margin: 0 auto;
  padding: 5vw;
}

/* 
 * Colours 
 */

body {
  background: #fffafd; 
}

article {
  background: #dad089;
  color: #000402; 
}
